<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="bg-blue-400 relative">
  <div class="min-h-screen flex justify-center py-10 relative z-10">
    <div class="bg-gray-100 p-6 rounded-lg shadow-lg w-full max-w-3xl relative">
      <header>
        {{ partial "header.html" . }}
      </header>
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      <footer>
        {{ partial "footer.html" . }}
      </footer>
    </div>
  </div>
</body>

</html>
