<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="bg-linear-to-t from-sky-100 to-sky-600 relative">
  <div class="absolute top-1/4 left-0">
    <!-- <svg class="cloud w-72 h-48 opacity-70 animate-cloud-fast text-blue-300" xmlns="http://www.w3.org/2000/svg" -->
    <svg class="cloud size-100 opacity-70 animate-[slide_60s_linear_infinite] text-blue-200" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 50" fill="currentColor">
      <circle cx="30" cy="30" r="20" />
      <circle cx="50" cy="30" r="25" />
      <circle cx="70" cy="30" r="20" />
      <circle cx="40" cy="20" r="15" />
      <circle cx="60" cy="20" r="18" />
    </svg>
    <!-- <svg class="cloud size-40 opacity-70 animate-[slide_60s_linear_infinite] text-blue-200" xmlns="http://www.w3.org/2000/svg" -->
    <!--   viewBox="0 0 100 50" fill="currentColor"> -->
    <!--   <circle cx="40" cy="60" r="30" /> -->
    <!--   <circle cx="70" cy="65" r="35" /> -->
    <!--   <circle cx="100" cy="60" r="40" /> -->
    <!--   <circle cx="130" cy="65" r="35" /> -->
    <!--   <circle cx="160" cy="60" r="30" /> -->
    <!--   <circle cx="85" cy="40" r="28" /> -->
    <!--   <circle cx="115" cy="35" r="32" /> -->
    <!-- </svg> -->
    <!-- <svg class="cloud size-20 opacity-70 animate-[slide_60s_linear_infinite] text-blue-200" xmlns="http://www.w3.org/2000/svg" -->
    <!--   viewBox="0 0 100 50" fill="currentColor"> -->
    <!--   <circle cx="30" cy="30" r="20" /> -->
    <!--   <circle cx="50" cy="30" r="20" /> -->
    <!--   <circle cx="40" cy="20" r="15" /> -->
    <!-- </svg> -->
  </div>
  <div class="min-h-screen flex justify-center py-10 relative z-10">
    <div class="bg-gray-100/50 p-6 rounded-lg shadow-lg w-full max-w-3xl relative">
      <header>
        {{ partial "header.html" . }}
      </header>
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      <footer>
        {{ partial "footer.html" . }}
      </footer>
    </div>
  </div>
</body>

</html>
